@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Roboto:400,400italic,700italic,700);

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

@import url('fadein.css');

.cbrMixerLogo-padding {
  background-color: #343232;

  height: 40%;
  width: 100%;
  padding: 20px;
}

.cbrMixerLogo-image {
  height: 100%;
  width: 100%;
  background-image: url('../img/CBR-logo-20151017-slantymixer-colour.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.release {
  max-height: 55%;
  width: 100%;

  padding: 20px 40px;
}

.release-leftText .column-info {
  text-align: right;
}

.release-title {
  font-size: 140%;
  font-weight: bold;
}

.release-artists {
  font-size: 120%;
}

.release-coverart {
  max-height: 100%;
}

@media screen and (max-width: 39.9375em) {
  body {
    font-size: 8px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 64em) {
  body {
    font-size: 16px;
  }
}
