@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Roboto:400,400italic,700italic,700);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  background-color: #343232;
}

@import url('fadein.css');

.cbrMixerLogo-padding {
  height: 40%;
  width: 100%;
  padding: 20px;
}

.cbrMixerLogo-image {
  height: 100%;
  width: 100%;
  background-image: url('../img/CBR-logo-20151017-slantymixer-colour.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.release {
  max-height: 55%;
  width: 100%;

  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;

  padding: 2em;

  position: relative; /* so can position skewed background div */
}

.column-info {
  padding: 0;
}

/* angled background/border for each release */
.release:before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: -25px;
  z-index: -1;
}
.release-leftText:before {
  background-color: #141212;
  transform: skewY(-1.5deg);
}
.release-rightText:before {
  background-color: #343232;
  transform: skewY(+1.5deg);
}

.release-leftText .column-info {
  text-align: right;
}

.release-rightText .column-info {
  order: 99;
}

.release-rightText .column-coverart {
  text-align: right;
}

.release-title {
  font-size: 140%;
  font-weight: bold;
}

.release-artists {
  font-size: 120%;
}

.release-coverart {
  max-height: 100%;
}

.release-cbr004:before {
  background-color: #a50011;
}

.release-cbr003:before {
  background-color: #051966;
}

.release-cbr002:before {
  background-color: #f00001;
}

.release-cbr001:before {
  background-color: #5e2204;
}

.footer {
  padding-bottom: 2em;
  background-color: #141212;
}

@media screen and (max-width: 39.9375em) {
  body {
    font-size: 8px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 64em) {
  body {
    font-size: 16px;
  }
}
