@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Roboto:400,400italic,700italic,700);

@import "./fadein.css";


$foundation-palette: (
  primary: #FFFFFF,
  alert: #ec5840,
);

@import "~foundation-sites/scss/foundation";

// import foundation with flex grid (our css assumes this!)
@include foundation-everything(true);

// cartoon beats menu
.menu.stripe, .menu a { 
  background-color: #201C22;
  color: white;
}
.stripe {
  width: 100%;
  margin: 0;
  padding: 0;
}
.menu {
   font-family: 'Noto Sans', sans-serif;
   font-weight: 700;
   font-size: 40px;
   text-transform: uppercase;
   font-style: italic;
}

.stripe {
   width: 100%;
   margin: 0;
   padding: 0;
}

.stripe-column {
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
   padding: 0;
}


.stripe-column>* {
  margin-left: 6px;
  margin-right: 6px;
}

.pull-right {
  float: right;
}

.menu {
  border-bottom: 2px solid #BEBCAA;
}

/* no underline for menu links */
.menu a {
  text-decoration: none;
  height: 44px;
  width: 44px;
  margin-top: 12px;
  background-image: url('../img/cbr_menu_icons.svg');
  background-size: 1200%; /* there are 12 slots in my sprite */ 
}
.menu a.menuIcon.hidden {
  background-image: none;
}

@media (max-width: 800px) {
  .menu a {
    height: 30px;
    width: 30px;
  }
}

/* menu things are not full width */
.menu .stripe-column * {
   display: inline-block;
}

.menu .primary a {
  margin-right: 40px;
}
.menu .secondary a {
   margin-left: 40px;
}
/* secondary on right */
.menu .secondary {
   float: right;
}

// menu icons
.menuIcon.blog {
  background-position-x: 600%;
}
.menuIcon.tags {
  background-position-x: -200%;
}
.menuIcon.releases {
  background-position-x: -400%;
}
.menuIcon.compose {
  background-position-x: -800%;
}
.menuIcon.login, .menuIcon.logout {
  background-position-x: -600%;
}


// content styles
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  background-color: #343232;
}

.cbrMixerLogo-padding {
  height: 40%;
  width: 100%;
  padding: 20px;
}

.cbrMixerLogo-image {
  height: 100%;
  width: 100%;
  background-image: url('../img/CBR-logo-20151017-slantymixer-colour.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.release {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  max-width: initial;

  padding: 2em;

  position: relative; /* so can position skewed background div */
}

.column-info {
  padding: 0;
}

.release-leftText .column-info {
  text-align: right;
}

.release-rightText .column-info {
  order: 99;
}

.release-rightText .column-coverart {
  text-align: right;
}

.release-title {
  font-size: 140%;
  font-weight: bold;
}

.release-artists {
  font-size: 120%;
}

.release-listenLinks {
  font-size: 120%;
  line-height: 200%;
  font-variant: small-caps;
  font-style: italic;
}
.release-leftText .release-listenLinks a {
  margin-left: 6px;
}
.release-rightText .release-listenLinks a {
  margin-right: 6px;
}

.release-listenLinks .icon-amazon {
  position: relative;
  top: 2px;
}

.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  
  padding-bottom: 2em;
  background-color: #141212;
}

@media screen and (max-width: 39.9375em) {
  body {
    font-size: 8px;
  }
  .release-coverart {
    max-width: 140px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 14px;
  }
  .release-coverart {
    max-width: 270px;
  }
}

@media screen and (min-width: 64em) {
  body {
    font-size: 16px;
  }
  .release-coverart {
    max-width: 350px;
  }
}
