@import url(http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic|Roboto:400,400italic,700italic,700);

@import "./fadein.css";


$foundation-palette: (
  primary: #FFFFFF,
  alert: #ec5840,
);

@import "~foundation-sites/scss/foundation";

// import foundation with flex grid (our css assumes this!)
@include foundation-everything(true);


body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: white;
  background-color: #343232;
}

.cbrMixerLogo-padding {
  height: 40%;
  width: 100%;
  padding: 20px;
}

.cbrMixerLogo-image {
  height: 100%;
  width: 100%;
  background-image: url('../img/CBR-logo-20151017-slantymixer-colour.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.release {
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  max-width: initial;

  padding: 2em;

  position: relative; /* so can position skewed background div */
}

.column-info {
  padding: 0;
}

.release-leftText .column-info {
  text-align: right;
}

.release-rightText .column-info {
  order: 99;
}

.release-rightText .column-coverart {
  text-align: right;
}

.release-title {
  font-size: 140%;
  font-weight: bold;
}

.release-artists {
  font-size: 120%;
}

.release-listenLinks {
  font-size: 120%;
  line-height: 200%;
}
.release-leftText .release-listenLinks a {
  margin-left: 6px;
}
.release-rightText .release-listenLinks a {
  margin-right: 6px;
}

.release-listenLinks .icon-amazon {
  position: relative;
  top: 2px;
}

.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
  
  padding-bottom: 2em;
  background-color: #141212;
}

@media screen and (max-width: 39.9375em) {
  body {
    font-size: 8px;
  }
  .release-coverart {
    max-width: 140px;
  }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  body {
    font-size: 14px;
  }
  .release-coverart {
    max-width: 270px;
  }
}

@media screen and (min-width: 64em) {
  body {
    font-size: 16px;
  }
  .release-coverart {
    max-width: 350px;
  }
}
